<!DOCTYPE html>
<html>

<head>
	<title>CharityHub - <%= term %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="/scripts/charityDetails.js"></script>
</head>

<body onload="getSearch('<%= JSON.stringify(charities) %>')">
    
    <!-- navigation bar -->
    <%- include('../partials/nav.ejs', {bg: 0}) %>
	
    <% // if(messages.error) { %>
	<%// = messages.error %>
	<%//  } %>

	<% if(failLoggedInMessage.length > 0) { %>
		<div class="container alert alert-danger" role="alert" style="text-align: center">
			<%= failLoggedInMessage %>
		</div>
	<% } %>

	<br>
	<div class="container">

    <!-- search box -->
		<div class="form-row border border-dark bg-dark text-white rounded" style="background-image: url('./img/head_bg00b.jpg'); background-size: cover;">
			<div class="container col-8">
				<br>
				<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
				<form onSubmit="searchBox()" target="dummyframe">
					<div class="form-row">
						<div class="col-10">
							<input type="text" class="form-control border border-dark" id="search_input" placeholder="Search for a charity by name, keyword, location, type...">
						</div>
						<div class="col-2">
							<button type="submit" class="btn btn-dark border border-rounded border-light my-2">Search</button>
						</div>
					</div>
				</form>
				<br>
			</div>
		</div>
		<br>

    <!-- charity cards -->
		<a type="button" class="btn btn-dark btn-lg" href="/add-charity" style="float: right;">Add a Charity</a>
		<br>
		<h3><%= term %></h3>
		<div class="card-deck text-center" id="row1"></div>
		<br>
		<div class="card-deck text-center" id="row2"></div>
		<br>
		<div class="card-deck text-center" id="row3"></div>
	</div>
	<br>

	<!-- page navigation -->
	<div class="row">
		<div class="col">
			<br><button type="button" class="btn btn-dark btn-lg" disabled="true" onclick="" style="float: right;">Previous Page</button>
		</div>
		<div class="col">
			<br><button type="button" class="btn btn-dark btn-lg" onclick="" style="float: left;">Next Page</button>
		</div>
	</div>
	<br><br>

</body>

</html>