<!DOCTYPE html>
<html>

<head>
	<link rel='icon' href='/img/favicon.ico' type='image/x-icon'>
	<title>CharityHub Search - <%= term %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="/scripts/charityDetails.js"></script>
</head>

<body onload="getSearch('<%= JSON.stringify(charities) %>','<%= term %>',<%= page %>)">
    
    <!-- navigation bar -->
    <%- include('../partials/nav.ejs', {bg: 0}) %>
	
    <% // if(messages.error) { %>
	<%// = messages.error %>
	<%//  } %>

	<% if(failLoggedInMessage.length > 0) { %>
		<div class="container alert alert-danger" role="alert" style="text-align: center">
			<%= failLoggedInMessage %>
		</div>
	<% } %>

	<br>
	<div class="container">

    <!-- search box -->
    	<%- include('../partials/searchbox.ejs') %>
		<br>

    <!-- charity cards -->
		<a type="button" class="btn btn-dark btn-lg" href="/add-charity" style="float: right;">Add a Charity</a>
		<br>
		<h3><%= term %></h3>
		<div class="card-deck text-center" id="row1"></div>
		<br>
		<div class="card-deck text-center" id="row2"></div>
		<br>
		<div class="card-deck text-center" id="row3"></div>
	</div>
	<br>

	<!-- page navigation -->
	<div class="row">
		<div class="col">
			<br><a type="button" id="prev_page" class="btn btn-dark btn-lg" style="float: right;">Previous Page</a>
		</div>
		<div class="col">
			<br><a type="button" id="next_page" class="btn btn-dark btn-lg" style="float: left;">Next Page</a>
		</div>
	</div>
    
    <!-- footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>